{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_content %}
    <div class="row">

        {% set collapsed = 1 %}
        {% if budgetaccounts|length < 2 %}
            {% set collapsed = 0 %}
        {% endif %}
        {%  for budgetaccount in budgetaccounts %}
        <div class="col-sm-6">
            <div class="box {% if collapsed %}collapsed-box{% endif %}">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ budgetaccount.budgetname }} Transactions ({{ budgetaccount.budgettransactions|length }})</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-info">{{ budgetaccount.balance|localizedcurrency('AUD') }}</span>
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa {% if collapsed %}fa-plus{% else %}fa-minus{% endif %}"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                    {% for budgettransaction in budgetaccount.budgettransactions %}
                        <tr>
                            <td>{{ budgettransaction.transaction.date|localizeddate('short', 'none') }}</td>
                            <td>{{ budgettransaction.transaction.description }}</td>
                            <td align="right">{{ budgettransaction.amount|localizedcurrency('AUD') }}</td>
                            <td align="right">{{ budgettransaction.transaction.amount|localizedcurrency('AUD') }}</td>
                            <td align="right">{{ budgettransaction.transaction.unassignedsum|localizedcurrency('AUD') }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->
        {% endfor %}
    </div><!-- row -->

{% endblock %}