{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Unbalanced Transactions ({{ unbalancedtransactions|length }})</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-info"></span>
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Unassigned Amount</th>
                        </tr>
                        </thead>
                        {% for transaction in unbalancedtransactions %}
                            <tr>
                                <td>{{ transaction.date|localizeddate('short', 'none') }}</td>
                                <td><a href="{{ path('envelope_transaction', {'id': transaction.id}) }}">{{ transaction.description }}</a></td>
                                <td align="right">{{ transaction.amount|localizedcurrency('AUD') }}</td>
                                <td align="right">{{ transaction.unassignedsum|localizedcurrency('AUD') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->


        {%  for account in accounts %}
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ account.name }} Transactions ({{ account.transactions|length }})</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-info"></span>
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Unassigned Amount</th>
                        </tr>
                        </thead>
                    {% for transaction in account.transactions %}
                        <tr>
                            <td>{{ transaction.date|localizeddate('short', 'none') }}</td>
                            <td><a href="{{ path('envelope_transaction', {'id': transaction.id}) }}">{{ transaction.description }}</a></td>
                            <td align="right">{{ transaction.amount|localizedcurrency('AUD') }}</td>
                            <td align="right">{{ transaction.unassignedsum|localizedcurrency('AUD') }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->
        {% endfor %}
    </div><!-- row -->

{% endblock %}