{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Transactions {{ transaction.id }} details</h3>
                    <div class="box-tools pull-right">
                        {% if transactionid != 'new' %}
                        <span class="label label-info">{{ transaction.account.name }}</span>
                        {% endif %}
                        {% if transaction.unassignedsum != 0 %}
                        <span class="label label-warning">Unbalanced Transaction</span>
                        {% endif %}
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% form_theme addform 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(addform) }}


                    {% if addform.account is defined %}
                        <table class="table table-striped" style="width: 50%">
                            <thead>
                            <th colspan="5">Bank Account</th>
                            </thead>
                            <tr><Td>{{ form_row(addform.account) }}</Td><td colspan="4"></td></tr>
                        </table>
                    {% endif %}

                    <table class="table table-striped">

                        <thead>
                        <tr>
                            <th>Date</th>
                            <th colspan="2">Description</th>

                            <th>Amount</th>
                            {% if transactionid != 'new' %}<th>Unassigned Amount</th>{% endif %}
                        </tr>
                        </thead>
                            <tr>
                                <td>{{ transaction.date|localizeddate('short', 'none') }}</td>
                                <td>{{ form_row(addform.description) }}</td>
                                <td><small>
                                        {% if addform.fulldescription is defined %}
                                            {{ form_row(addform.fulldescription) }}

                                        {% else %}
                                            {{ transaction.fulldescription }}
                                        {% endif %}</small></td>
                                <td align="right">
                                    {% if addform.amount is defined %}
                                        {{ form_row(addform.amount) }}
                                    {% else %}
                                        {{ transaction.amount|localizedcurrency('AUD') }}
                                    {% endif %}
                                </td>
                                <td align="right">
                                    {% if addform.amount is not defined %}
                                        {{ transaction.unassignedsum|localizedcurrency('AUD') }}
                                        <span id="unassignedamount" data-unassignedamount="{{ transaction.unassignedsum }}"></span>
                                    {% endif %}
                                </td>
                            </tr>


                            <thead>
                                <th></th>
                                <th colspan="2">Budget Account</th>
                                <th colspan="2">Amount</th>
                            </thead>
                            <tbody>
                            {% for budgettransaction in addform.budget_transactions %}
                                <tr>
                                    <td></td>
                                    <td colspan="2">{{ form_widget(budgettransaction.budgetaccount) }}</td>
                                    <td colspan="2">{{ form_widget(budgettransaction.amount) }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                {% set formindex = addform.budget_transactions|length %}
                                <td></td>
                                <td colspan="2">{{ form_widget(addform.budget_transactions.vars.prototype.budgetaccount)|replace({'__name__': formindex})|raw }}</td>
                                <td colspan="2">{{ form_widget(addform.budget_transactions.vars.prototype.amount)|replace({'__name__': formindex})|raw }}</td>


                            </tr>
                            </tbody>

                    </table>

                    {{ form_end(addform) }}

                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->


    </div><!-- row -->

{% endblock %}

{% block javascripts_inline %}
<script>
    $('.budgetransactionamount').focus(function () {
        var $unassigned=$('#unassignedamount').data('unassignedamount');
            if (!this.value && $unassigned != 0) {
                this.value = $unassigned;
            }
        }
    )
</script>
{% endblock %}