{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_content %}
    {% set page_size=10 %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Unbalanced Transactions ({{ unbalancedtransactions|length }})</h3>

                    <div class="box-tools pull-right">
                        <span class="label label-info"></span>
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Unassigned Amount</th>
                        </tr>
                        </thead>
                        {% for transaction in unbalancedtransactions %}
                            <tr>
                                <td>{{ transaction.date|localizeddate('short', 'none') }}</td>
                                <td>
                                    <a href="{{ path('envelope_transaction', {'id': transaction.id, 'return': 'transactions'}) }}">{{ transaction.description }}</a>
                                </td>
                                <td align="right" {% if transaction.amount < 0 %}class="text-danger"{% endif %}>
                                    <span data-toggle="tooltip"
                                          title="{{ transaction.PositiveBudgetSum|localizedcurrency('AUD') }} / {{ transaction.NegativeBudgetSum|localizedcurrency('AUD') }}">
                                    {{ transaction.amount|localizedcurrency('AUD') }}
                                    </span>
                                </td>
                                <td align="right">{{ transaction.unassignedsum|localizedcurrency('AUD') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="box-footer">
                </div>
                <!-- box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- col -->
        <span class="clearfix"></span>

        {% for account in accounts %}
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ account.name }} Transactions ({{ account.transactions|length }})</h3>

                        <div class="box-tools pull-right">
                            <span class="label {% if account.balance <= 0 %}label-danger{% elseif account.balance < 100 %}label-warning{% else %}label-success{% endif %}">{{ account.balance|localizedcurrency('AUD') }}</span>
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Unassigned Amount</th>
                            </tr>
                            </thead>

                            {% set currentpage = app.request.get('p_' ~ account.id) %}
                            {% if currentpage is null %}
                                {% set currentpage = 1 %}
                            {% endif %}
                            {% set offset = (currentpage - 1)*page_size %}

                            {% for transaction in account.transactions|slice(offset,page_size) %}
                                <tr>
                                    <td>{{ transaction.date|localizeddate('short', 'none') }}</td>
                                    <td>
                                        <a href="{{ path('envelope_transaction', {'id': transaction.id}) }}">{{ transaction.description }}</a>
                                    </td>
                                    <td align="right" {% if transaction.amount < 0 %}class="text-danger"{% endif %}>
                                <span data-toggle="tooltip"
                                      title="{{ transaction.PositiveBudgetSum|localizedcurrency('AUD') }} / {{ transaction.NegativeBudgetSum|localizedcurrency('AUD') }}">
                                {{ transaction.amount|localizedcurrency('AUD') }}
                                </span>
                                    </td>
                                    <td align="right">{{ transaction.unassignedsum|localizedcurrency('AUD') }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                        <nav>
                            <ul class="pagination pagination-sm">


                                {% set numbertransactions = account.transactions|length %}
                                {% if numbertransactions > page_size %}
                                    {% set numberofpages = numbertransactions/page_size|round(1, 'ceil') + 1 %}
                                    {% for page in 1..numberofpages %}
                                        <li {% if currentpage == page %}class="active"{% endif %}><a
                                                    href="{{ path(app.request.attributes.get('_route'),
                                                    app.request.query.all|merge({('p_' ~ account.id): page})) }}"

                                                    >{{ page }}</a></li>

                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </nav>

                    </div>
                    <div class="box-footer">
                    </div>
                    <!-- box-footer -->
                </div>
                <!-- /.box -->
            </div><!-- col -->
        {% endfor %}
    </div><!-- row -->

{% endblock %}