{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Transactions {{ transaction.id }} details</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-info">{{ transaction.account.name }}</span>
                        {% if transaction.unassignedsum != 0 %}
                        <span class="label label-warning">Unbalanced Transaction</span>
                        {% endif %}
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% form_theme addform 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(addform) }}

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th colspan="2">Description</th>

                            <th>Amount</th>
                            <th>Unassigned Amount</th>
                        </tr>
                        </thead>
                            <tr>
                                <td>{{ transaction.date|localizeddate('short', 'none') }}</td>
                                <td>{{ form_row(addform.description) }}</td>
                                <td><small>{{ transaction.fulldescription }}</small></td>
                                <td align="right">{{ transaction.amount|localizedcurrency('AUD') }}</td>
                                <td align="right">{{ transaction.unassignedsum|localizedcurrency('AUD') }}</td>
                            </tr>

                            <thead>
                                <th></th>
                                <th colspan="2">Budget Account</th>
                                <th colspan="2">Amount</th>
                            </thead>
                            <tbody>
                            {% for budgettransaction in addform.budget_transactions %}
                                <tr>
                                    <td></td>
                                    <td colspan="2">{{ form_widget(budgettransaction.budgetaccount) }}</td>
                                    <td colspan="2">{{ form_widget(budgettransaction.amount) }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                {% set formindex = addform.budget_transactions|length %}
                                <td></td>
                                <td colspan="2">{{ form_widget(addform.budget_transactions.vars.prototype.budgetaccount)|replace({'__name__': formindex})|raw }}</td>
                                <td colspan="2">{{ form_widget(addform.budget_transactions.vars.prototype.amount)|replace({'__name__': formindex})|raw }}</td>


                            </tr>
                            </tbody>

                    </table>

                    {{ form_end(addform) }}
                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->


    </div><!-- row -->

{% endblock %}