{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-sm-8">&nbsp;</div>
        <div class="col-sm-4 ">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="doughnut-chart">



          <div class="panel panel-default">
            <div class="panel-heading">Spending Doughnut</div>
            <div class="panel-body">
              <canvas id="spendingPie"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table>
                        {% for transaction in excludedtransactions %}
                            <tr>
                                <td>{{ transaction.description  }}</td>
                                <td>{{ transaction.sumamount|localizedcurrency('AUD') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div><!-- row -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/avanzuadmintheme/vendor/adminlte/plugins/chartjs/Chart.js') }}"></script>
    <script type="text/javascript">
    {{ include('EnvelopeBundle:Stats:datepicker.js.twig') }}
    </script>

{% endblock %}


{% block javascripts_inline %}
    <script>

        var pieData = {{ piechartvalues|raw }}

        // Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#spendingPie").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var myDoughnutChart = new Chart(ctx).Doughnut(pieData, {responsive: true});
    </script>
{% endblock %}