{% extends 'base.html.twig' %}
{% block page_title %}Automatic Coding of bank transactions to budgets{% endblock %}
{% block page_subtitle %}Matches bank transactions against preset search strings to automatically apply them to a budget area{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Auto Code Transactions</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                {{ form(form) }}
                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->

        {% if actionrun %}
            <div class="col-sm-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Transaction Autocoded</h3>
                        <div class="box-tools pull-right">
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Renamed</th>
                                <th>Amount</th>
                                <th>Search Rule</th>
                                <th>Assigned Budget</th>
                            </tr>
                            </thead>
                        {% for result in results %}
                            <tr class="danger">
                                <td>{{ result.transaction.date|format_datetime('short', 'none') }}</td>
                                <td>{{ result.transaction.fullDescription }}</td>
                                <td>{{ result.transaction.description }}</td>
                                <td>{{ result.transaction.amount }}</td>
                                <td>{{ result.search.search }}</td>
                                <td>{{ result.search.budgetaccount.budgetname }}</td>
                            </tr>

                        {% endfor %}
                        </table>
                    </div>
                    <div class="box-footer">
                    </div><!-- box-footer -->
                </div><!-- /.box -->
            </div><!-- col -->
        {% endif %}


    </div><!-- row -->

    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Auto Code Searches</h3>
                    <div class="box-tools pull-right">
                        <a class="text-success btn"  data-toggle="tooltip" href="{{ path('envelope_autocode_edit_search', {'id': 'new'}) }}"
                           title="New Search"><i class="fa fa-plus"></i> New Search</a>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-striped datatable" data-order='[[ 0, "asc" ]]' data-page-length='25'>
                        <thead>
                        <tr>
                            <th>Search String</th>
                            <th>New Description</th>
                            <th>Account</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for search in searches %}
                            <tr>
                                <td>{{ search.search }}</td>
                                <td>{{ search.rename }}</td>
                                <td>{{ search.budgetAccount.budgetName }}</td>
                                <td><form method='POST' action="{{ path('envelope_autocode_delete_search', {'id': search.id}) }}">
                                <a href="{{ path('envelope_autocode_edit_search', {'id': search.id}) }}"><i class="fas fa-pencil-alt"></i></a> <a href="" onclick="confirm('Are you sure you want to delete this search?') && $(this).closest('form').submit(); return false;"><i class="fa fa-trash text-danger"></i></a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->


    </div><!-- row -->

{% endblock %}