{% extends 'base.html.twig' %}


{% block page_title %}Budget Templates{% endblock %}
{% block page_subtitle %}Preset templates for applying multiple budget transactions at once. Use to distribute your fortnightly income into the relevant budget areas{% endblock %}

{% block page_actions %}
    <div class="btn-list">
        <a href="{{ path('envelope_budget_template_new') }}" class="btn btn-green">
            New Template
        </a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row row-cards">
        {% for budgettemplate in budgettemplates %}

            <div class="col-md-6">
                <div class="card {% if budgettemplate.archived %}collapsed{% endif %} accordion">
                    <div class="card-header with-border">
                        <h3 class="card-title">{{ budgettemplate.name }}
                            <span class="card-subtitle">
                                <span class="badge bg-green"
                                      title="Positive Sum">{{ budgettemplate.positivesum|format_currency('AUD') }}</span>
                                <span class="badge"
                                      title="Monthly to Fortnight">{{ (budgettemplate.positivesum*12/26)|format_currency('AUD') }}</span>
                                <span class="badge"
                                      title="Fortnight to Monthly">{{ (budgettemplate.positivesum*26/12)|format_currency('AUD') }}</span>
                                {% if budgettemplate.balance != 0 %}
                                    <span class="label label-warning">{{ budgettemplate.balance|format_currency('AUD') }}</span>
                                {% endif %}
                                {% if budgettemplate.archived %}<span class="">Archived</span>{% endif %}
                                </span>
                        </h3>
                        <button class="accordion-button {% if budgettemplate.archived %}collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#template-{{ budgettemplate.id }}" data-toggle="tooltip"
                                title="Collapse"></button>

                    </div><!-- /.card-header -->
                    <div class="table-responsive accordion-collapse collapse {% if not budgettemplate.archived %}show{% endif %}" id="template-{{ budgettemplate.id }}">
                        {% if budgettemplate.lastapplieddate %}Last applied {{ budgettemplate.lastapplieddate|date('Y-m-d') }}{% endif %}
                        <table class="table card-table table-striped">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Budget</th>
                                <th></th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            {% for templatetransaction in budgettemplate.templatetransactions %}
                                <tr>
                                    <td>{{ templatetransaction.description }}</td>
                                    <td>
                                        <a href="{{ path('envelope_budgettransactions', {'accountid': templatetransaction.budgetaccount.id}) }}">{{ templatetransaction.budgetaccount.budgetname }}</a>
                                    </td>
                                    <td>
                                        {% if templatetransaction.budgetaccount.balance <= 0 %}
                                        <span class="label label-warning">
                                {% else %}
                                            <span class="label label-default">
                                {% endif %}
                                                {{ templatetransaction.budgetaccount.balance|format_currency('AUD') }}</span>
                                    </td>
                                    <td align="right">{{ templatetransaction.amount|format_currency('AUD') }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="card-footer">

                        {% for groupsum in budgettemplates_groupsums[budgettemplate.id] %}
                            {{ groupsum.name }}: {{ groupsum.total }}
                        {% endfor %}


                        <div class="card-tools pull-left">
                            <form action="{{ path('envelope_budget_template_clone', {'id': budgettemplate.id}) }}"
                                  method="post">
                                <a href="{{ path('envelope_budget_template_edit', {'id': budgettemplate.id}) }}"
                                   class="btn btn-default btn-card-tool"><i class="fa fa-pencil"></i> Edit Template</a>
                                <button class="btn btn-default btn-card-tool"><i class="fa fa-clone"></i> Clone Template</button>
                            </form>
                        </div>
                        <div class="card-tools pull-right">
                            <form action="{{ path('envelope_budget_template_delete', {'id': budgettemplate.id}) }}"
                                  method="post">
                                <button onclick="return confirm('Are you sure you want to delete this template?');"
                                        class="btn btn-danger btn-card-tool"><i class="fa fa-trash"></i> Delete Template
                                </button>
                            </form>
                        </div>

                    </div><!-- card-footer -->
                </div><!-- /.box -->
            </div><!-- col -->

        {% endfor %}
    </div><!-- row -->
{% endblock %}
