{% extends 'base.html.twig' %}
{% block page_title %}Budgets{% endblock %}
{% block page_subtitle %}See how your budgets are tracking by looking at the balance of the relevant budget "account"{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-sm-8">&nbsp;</div>
        <div class="col-sm-4 ">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
    </div>

    <div class="row">
        {% set totalsum = 0 %}
        {% set totalpossum = 0 %}
        {% set totalnegsum = 0 %}
    {% for budgetgroup in budgetgroups %}

        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ budgetgroup.name }}</h3>
                    <div class="box-tools pull-right">
                        {% set budgetgroupsum = budgetgroup.getBudgetSum(startdate, enddate) %}
                        {% set budgetgrouppossum = budgetgroup.getPositiveBudgetSum(startdate, enddate) %}
                        {% set budgetgroupnegsum = budgetgroup.getNegativeBudgetSum(startdate, enddate) %}
                        {% set totalsum = totalsum + budgetgroupsum %}
                        {% set totalpossum = totalpossum + budgetgrouppossum %}
                        {% set totalnegsum = totalnegsum + budgetgroupnegsum %}
                        <span class="label label-success" data-toggle="tooltip" title="Positive Transactions">{{ budgetgrouppossum|format_currency('AUD') }}</span>
                        <span class="label label-warning" data-toggle="tooltip" title="Negative Transactions">{{ budgetgroupnegsum|format_currency('AUD') }}</span>

                        <span class="label {%  if budgetgroupsum < 0 %}label-danger{% else %}label-default{% endif %}" data-toggle="tooltip" title="Balance">{{ budgetgroup.getBudgetSum(startdate, enddate)|format_currency('AUD') }}</span>
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Positive</th>
                            <th>Negative</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for budget in budgetgroup.budgetaccounts %}
                        <tr>
                            <td><a href="{{ path('envelope_budgettransactions', {'accountId': budget.id}) }}"  data-toggle="tooltip" data-html="true" title="{{ budget.TemplateTransactionsDescriptionsTooltip }}">{{ budget.budgetName }}</a></td>
                            {% set balance = budget.getBalance(startdate, enddate) %}
                            {% set posbalance = budget.getPositiveBalance(startdate, enddate) %}
                            {% set negbalance = budget.getNegativeBalance(startdate, enddate) %}
                            <td align="right" {% if posbalance < 0 %}class="text-danger"{% endif %}>{{ posbalance|format_currency('AUD') }}</td>
                            <td align="right" {% if negbalance < 0 %}class="text-danger"{% endif %}>{{ negbalance|format_currency('AUD') }}</td>
                            <td align="right" {% if balance < 0 %}class="text-danger"{% endif %}><strong>{{ balance|format_currency('AUD') }}</strong></td>
                        </tr>
                    {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td align="right" {% if budgetgrouppossum < 0 %}class="text-danger"{% endif %}><strong>{{ budgetgrouppossum|format_currency('AUD') }}</strong></td>
                            <td align="right" {% if budgetgroupnegsum < 0 %}class="text-danger"{% endif %}><strong>{{ budgetgroupnegsum|format_currency('AUD') }}</strong></td>
                            <td align="right" {% if budgetgroupsum < 0 %}class="text-danger"{% endif %}><strong>{{ budgetgroupsum|format_currency('AUD') }}</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->

    {% endfor %}
    </div><!-- row -->

    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Summary</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <span class="text-warning">The Budget summary gives an overview of all budget transactions for the selected period. If there are any unbalanced transactions in that period, the full amount of that transaction will not be reflected here and so this figure may be different to your Net Worth on the Bank transactions page.</span>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Positive</th>
                            <th>Negative</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                            <td align="right" {% if totalpossum < 0 %}class="text-danger"{% endif %}><strong>{{ totalpossum|format_currency('AUD') }}</strong></td>
                            <td align="right" {% if totalnegsum < 0 %}class="text-danger"{% endif %}><strong>{{ totalnegsum|format_currency('AUD') }}</strong></td>
                            <td align="right" {% if totalsum < 0 %}class="text-danger"{% endif %}><strong>{{ totalsum|format_currency('AUD') }}</strong></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ include('stats/datepicker.js.twig') }}
    </script>
{% endblock %}