{% extends 'base.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}


{% block page_content %}
    <div class="row row-cards">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Budget Template {{ template.name}} ({{ template.id }}) details
                        <span class="card-subtitle">
                    {% if template.balance != 0 %}<span class="badge bg-red">Unbalanced Template</span>{% endif %}
                            </span>
                    </h3>
                </div><!-- /.box-header -->
                <div class="card-body">

                    {{ form_start(addform) }}
                    <strong>Name</strong>
                    {{ form_row(addform.name) }}
                    <strong>Description</strong>
                    {{ form_row(addform.description) }}
                    <strong>Archived</strong>
                    {{ form_row(addform.archived) }}

<style>
    form legend {
        padding: 0 2px;
        font-weight: bold;
    }
    form label {
        display: inline-block;
        line-height: 1.8;
        vertical-align: top;
    }
    form ol {
        margin: 0;
        padding: 0;
    }
    form li {
        list-style: none;
        padding: 5px;
        margin: 0;
    }

</style>
                    <label>Assign budget transactions</label>
                    <ol>
                        <li style="border-bottom: 2px solid black" class="clearfix"></li>
                            {% for templatetransaction in addform.template_transactions %}
                                <li class="input-group">
                                    <span class="w-25 me-3">
                                        {{ form_widget(templatetransaction.description) }}
                                        {{ form_errors(templatetransaction.description) }}
                                    </span>
                                    <span class="w-25 me-3">
                                    {{ form_widget(templatetransaction.budgetaccount, { 'attr': {'class': 'combobox'} }) }}
                                    {{ form_errors(templatetransaction.budgetaccount) }}
                                    </span>
                                    <span class="w-auto">
                                    {{ form_widget(templatetransaction.amount) }}
                                    {{ form_errors(templatetransaction.amount) }}
                                    </span>
                                </li>
                            {% endfor %}
                            <li class="input-group">
                                {% set formindex = addform.template_transactions|length %}
                                <span class="w-25 me-3">
                                        {{ form_widget(addform.template_transactions.vars.prototype.description)|replace({'__name__': formindex})|raw }}
                                </span>
                                <span class="w-25 me-3">
                                {{ form_widget(addform.template_transactions.vars.prototype.budgetaccount, { 'attr': {'class': 'combobox'} })|replace({'__name__': formindex})|raw }}
                                </span>
                                <span class="w-auto">
                                {{ form_widget(addform.template_transactions.vars.prototype.amount)|replace({'__name__': formindex})|raw }}
                                </span>


                            </li>
                            {% if addform.amount is not defined %}
                        <li>
                                <strong class="col-xs-9" style="text-align: right">Balance</strong>
                                <span id="balance" data-balance="{{ template.balance }}" style="text-align: center" class="col-xs-3"> {{ template.balance|format_currency('AUD') }}</span>
                        </li>
                            {% endif %}


                    </ol>

                    {{ form_end(addform) }}

                </div>
                <div class="card-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->


    </div><!-- row -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    document.querySelectorAll('.budgettemplatetransactionamount').forEach((el) => {
        el.addEventListener('focus', (e) => {
            let balance = Number(document.getElementById('balance').dataset.balance);
            if (!e.target.value && balance !== 0 ) {
                e.target.value = -balance;
            }
            updateBalance()
        })
    });

    let balance = 0;

    function updateBalance() {
        balance = 0;
        document.querySelectorAll(('.budgettemplatetransactionamount')).forEach((el) => {
            balance += Number(el.value)
        })

        document.getElementById('balance').dataset.balance = balance;
        document.getElementById('balance').textContent = '$' + balance;
    }

    document.querySelectorAll('.budgettemplatetransactionamount').forEach((el) => {
        el.addEventListener('change', updateBalance)
    });

    // @TODO bring back combobox?
    // $(document).ready(function () {
    //     $('.combobox').combobox();
    // });
</script>
{% endblock %}
