{% extends 'base.html.twig' %}

{% block page_content %}
    <ul>
    {% for transaction in transactions %}
        <li>{{ transaction.date|date('Y-m-d') }}: {{ transaction.amount }}/{{ transaction.budgetsum }} - {{ transaction.description }}
        {% if transaction.budgettransactions %}
            <ul>
            {% for budgettransaction in transaction.budgettransactions %}
                <li>{{ budgettransaction.budgetaccount.budgetname }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}