{% extends 'base.html.twig' %}

{% block page_content %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}



    <div class="userinfo">
        <span><img class="img-circle" width="90px" src="{{ user.avatar }}"></span>
        <h2>{{ user.name }}</h2>
<!--        <pre>About</pre>-->
        <ul>
<!--            <li><b>created </b>  user.ctime | elapsed </li>-->
            <li><strong>Email</strong> {{ user.email }}</li>
            <li><strong>Access Group</strong> {{ user.accessGroup }}</li>
        </ul>
    </div>


{% endblock %}

