{% extends 'base.html.twig' %}
{% block page_title %}Edit Transaction{% endblock %}
{% block page_subtitle %}Update the description of the bank transaction, and add budget transactions to distribute the bank transaction value{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                {% if transaction.unassignedsum != 0 %}
                    <div class="ribbon bg-red-lt">Unbalanced Transaction</div>
                {% endif %}
                <div class="card-header with-border">
                    <h3 class="card-title">Transactions {{ transaction.id }} details {% if transaction.account %}<span class="card-subtitle">{{ transaction.account.name }}{% endif %}</span></h3>
                </div><!-- /.box-header -->
                <div class="card-body">
                    {{ form_start(addform) }}

                    <strong>Date</strong> {{ transaction.date|format_datetime('short', 'none') }}<br/>

                    {% if addform.account is defined %}
                            <label>Bank Account</label>
                            {{ form_row(addform.account) }}
                    {% endif %}


                    <strong>Description</strong>
                    <small>
                        {% if addform.fulldescription is defined %}
                            {{ form_row(addform.fulldescription) }}

                        {% else %}
                            {{ transaction.fulldescription }}
                        {% endif %}</small>
                    <br/>

                    {{ form_row(addform.description) }}
<style>
    form legend {
        padding: 0 2px;
        font-weight: bold;
    }
    form label {
        display: inline-block;
        line-height: 1.8;
        vertical-align: top;
    }
    form ol {
        margin: 0;
        padding: 0;
    }
    form li {
        list-style: none;
        padding: 5px;
        margin: 0;
    }

</style>
                    <label>Assign budget transactions</label>
                    <ol>
                        <li><strong class="col-sm-8 col-xs-7" style="text-align: right">Total Amount</strong>
                                <span style="text-align: center" class="col-sm-4 col-xs-5">
                            {% if addform.amount is defined %}
                                {{ form_row(addform.amount) }}
                            {% else %}
                                {{ transaction.amount|format_currency('AUD') }}
                            {% endif %}
                                </span>
                        </li>
                        <li style="border-bottom: 2px solid black" class="clearfix"></li>
                            {% for budgettransaction in addform.budget_transactions %}
                                <li>
                                    <span class="col-sm-8 col-xs-7">
                                    {{ form_widget(budgettransaction.budgetaccount, { 'attr': {'class': 'combobox'} }) }}
                                    </span>
                                    <span class="col-sm-4 col-xs-5">
                                    {{ form_widget(budgettransaction.amount) }}
                                    </span>
                                </li>
                            {% endfor %}
                            <li>
                                {% set formindex = addform.budget_transactions|length %}
                                <span class="col-sm-8 col-xs-7">
                                {{ form_widget(addform.budget_transactions.vars.prototype.budgetaccount, { 'attr': {'class': 'combobox'} })|replace({'__name__': formindex})|raw }}
                                </span>
                                <span class="col-sm-4 col-xs-5">
                                {{ form_widget(addform.budget_transactions.vars.prototype.amount)|replace({'__name__': formindex})|raw }}
                                </span>


                            </li>
                            {% if addform.amount is not defined %}
                        <li>
                                <strong class="col-sm-8 col-xs-7" style="text-align: right">Unassigned Amount</strong>
                                <span id="unassignedamount" data-unassignedamount="{{ transaction.unassignedsum }}" style="text-align: center" class="col-sm-4 col-xs-5"> {{ transaction.unassignedsum|format_currency('AUD') }}</span>
                        </li>
                            {% endif %}


                    </ol>

                    {{ form_end(addform) }}

                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->


    </div><!-- row -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    // When focusing on an empty budgetTransactionAmount input, if there is an unassigned amount, fill it in
    document.querySelectorAll('.budgetTransactionAmount').forEach((el) => {
       el.addEventListener('focus', (e) => {
           let unassignedAmount = Number(document.getElementById("unassignedamount").dataset.unassignedamount);
           if (!e.target.value && unassignedAmount !== 0) {
               e.target.value = unassignedAmount;
           }
       })
    });
</script>
{% endblock %}