{% extends 'EnvelopeBundle:Default:base.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Budget Template {{ template.id }} details</h3>
                    <div class="box-tools pull-right">
                        {% if template.balance != 0 %}
                        <span class="label label-warning">Unbalanced Template</span>
                        {% endif %}
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% form_theme addform 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(addform) }}
                    <strong>Name</strong>
                    {{ form_row(addform.name) }}
                    <strong>Description</strong>
                    {{ form_row(addform.description) }}
                    <strong>Archived</strong>
                    {{ form_row(addform.archived) }}

<style>
    form legend {
        padding: 0 2px;
        font-weight: bold;
    }
    form label {
        display: inline-block;
        line-height: 1.8;
        vertical-align: top;
    }
    form ol {
        margin: 0;
        padding: 0;
    }
    form li {
        list-style: none;
        padding: 5px;
        margin: 0;
    }

</style>
                    <label>Assign budget transactions</label>
                    <ol>
                        <li style="border-bottom: 2px solid black" class="clearfix"></li>
                            {% for templatetransaction in addform.template_transactions %}
                                <li>
                                    <span class="col-xs-3">
                                        {{ form_widget(templatetransaction.description) }}
                                        {{ form_errors(templatetransaction.description) }}
                                    </span>
                                    <span class="col-xs-6">
                                    {{ form_widget(templatetransaction.budgetaccount, { 'attr': {'class': 'combobox'} }) }}
                                    {{ form_errors(templatetransaction.budgetaccount) }}
                                    </span>
                                    <span class="col-xs-3">
                                    {{ form_widget(templatetransaction.amount) }}
                                    {{ form_errors(templatetransaction.amount) }}
                                    </span>
                                </li>
                            {% endfor %}
                            <li>
                                {% set formindex = addform.template_transactions|length %}
                                <span class="col-xs-3">
                                        {{ form_widget(addform.template_transactions.vars.prototype.description)|replace({'__name__': formindex})|raw }}
                                </span>
                                <span class="col-xs-6">
                                {{ form_widget(addform.template_transactions.vars.prototype.budgetaccount, { 'attr': {'class': 'combobox'} })|replace({'__name__': formindex})|raw }}
                                </span>
                                <span class="col-xs-3">
                                {{ form_widget(addform.template_transactions.vars.prototype.amount)|replace({'__name__': formindex})|raw }}
                                </span>


                            </li>
                            {% if addform.amount is not defined %}
                        <li>
                                <strong class="col-xs-9" style="text-align: right">Balance</strong>
                                <span id="balance" data-balance="{{ template.balance }}" style="text-align: center" class="col-xs-3"> {{ template.balance|localizedcurrency('AUD') }}</span>
                        </li>
                            {% endif %}


                    </ol>

                    {{ form_end(addform) }}

                </div>
                <div class="box-footer">
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- col -->


    </div><!-- row -->

{% endblock %}

{% block javascripts_inline %}
<script>
    $('.budgettemplatetransactionamount').focus(function () {
                var $balance = $('#balance').data('balance');
                if (!this.value && $balance != 0) {
                    this.value = -$balance;
                }
                updateBalance();
            }
    )

    var balance = 0;

    function updateBalance() {
        balance = 0;
        $('.budgettemplatetransactionamount').each(function () {
            balance += +(this.value)
        })
        $('#balance').data('balance', balance).text('$' + balance);
    }

    $('.budgettemplatetransactionamount').change(updateBalance)

    $(document).ready(function () {
        $('.combobox').combobox();
    });
</script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/vendor/bootstrap-combobox/js/bootstrap-combobox.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet"
      href="{{ asset('assets/vendor/bootstrap-combobox/css/bootstrap-combobox.css') }}">
{% endblock %}