{% extends 'base.html.twig' %}
{% block page_title %}Search Results{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Transactions matching "{{ searchterm }}"</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            <!-- /.box-tools -->
             </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Unassigned Amount</th>
                    </tr>
                    </thead>

                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.date|format_datetime('short', 'none') }}</td>
                            <td>
                                <a href="{{ path('envelope_transaction', {'id': transaction.id}) }}">{{ transaction.description }}</a>
                            </td>
                            <td align="right" {% if transaction.amount < 0 %}class="text-danger"{% endif %}>
                                            <span data-toggle="tooltip"
                                                  title="{{ transaction.PositiveBudgetSum|format_currency('AUD') }} / {{ transaction.NegativeBudgetSum|format_currency('AUD') }}">
                                            {{ transaction.amount|format_currency('AUD') }}
                                            </span>
                            </td>
                            <td align="right">{{ transaction.unassignedsum|format_currency('AUD') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}