{% extends 'base.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-sm-8">&nbsp;</div>
        <div class="col-sm-4 ">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="doughnut-chart">



          <div class="card">
            <div class="card-heading">Spending Doughnut</div>
            <div class="card-body">
              <div id="spendingPie" class="chart-lg"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Excluded Transactions</h3>
                    <table>
                        {% for transaction in excludedtransactions %}
                            <tr>
                                <td>{{ transaction.description  }}</td>
                                <td>{{ transaction.sumamount|format_currency('AUD') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div><!-- row -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
{#    {{ include('EnvelopeBundle:Stats:datepicker.js.twig') }}#}
    </script>
    <script>
        // @TODO look into colors like https://github.com/apexcharts/apexcharts.js/issues/585 to get gradient

        let pieData = {{ pieChartData|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
        let pieLabels = {{ pieChartLabels|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
            document.addEventListener("DOMContentLoaded", function() {
                window.ApexCharts && (new ApexCharts(document.getElementById('spendingPie'), {
                    chart: {
                        type: "donut",
                        fontFamily: 'inherit',
                        height: 800,
                        sparkline: {
                            enabled: true
                        },
                        animations: {
                            enabled: false
                        },
                    },
                    fill: {
                        opacity: 1,
                    },
                    series: pieData,
                    labels: pieLabels,
                    tooltip: {
                        theme: 'dark',
                        fillSeriesColor: false
                    },
                    grid: {
                        strokeDashArray: 4,
                    },
                    dataLabels: {
                        enabled: true,
                        formatter: function (val) { return Math.round(val) + "%"}
                    },
                    colors: [tabler.getColor("primary"), tabler.getColor("primary", 0.8), tabler.getColor("primary", 0.6), tabler.getColor("gray-300")],
                    legend: {
                        show: false,
                        position: 'bottom',
                        offsetY: 12,
                        markers: {
                            width: 10,
                            height: 10,
                            radius: 100,
                        },
                        itemMargin: {
                            horizontal: 8,
                            vertical: 8
                        },
                    },
                })).render();
            });
    </script>
{% endblock %}
